.QuizGridWrapper {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(min-content);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media screen and (max-width: 1300px) {
    .QuizGridWrapper {
        grid-template-columns: min-content;
        grid-row-gap: 24px;
    }
}
