.QuizCardWrapper {
    width: 552px;
    height: fit-content;

    border: 1px solid #bebab3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    background-color: white;

    overflow: hidden;
}

.QuizCardWrapper .card-image {
    height: 194px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 8px 16px;
}

.QuizCardWrapper .card-image .quiz-difficulty {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #f2f2f2;

    padding: 4px 16px;
    background-color: #65aaea;
    border-radius: 12px;
}

.QuizCardWrapper .card-information {
    padding: 16px 16px 8px 16px;
}

.QuizCardWrapper .card-information .card-answered-details {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4px;
}

.QuizCardWrapper .card-information .card-answered-details .answered-correct-count {
    color: #5ba092;
}

.QuizCardWrapper .card-information .card-answered-details .answered-date {
    color: #78746d;
}

.QuizCardWrapper .card-information h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #3c3a36;

    margin-bottom: 4px;
}

.QuizCardWrapper .card-information p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #3c3a36;
}
