.HomeWrapper {
    width: 100vw;
    height: min-content;
}

.HomeWrapper #header-navbar button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.HomeWrapper #header-navbar #home-navbar-right {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: min-content;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    gap: 0px 30px;
}

.HomeWrapper #header-navbar #home-navbar-right button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #3c3a36;
}

.HomeWrapper #home-content-wrapper {
    width: 100vw;
    height: calc(100vh - 121px);
    margin-top: 120px; /* Offset for header */
    padding: 48px 0;

    display: flex;
    justify-content: center;
}
